# This requirements file should only include dependencies for development
twine                                   # make distribution archive
wheel                                   # make pre-compiled distribution package
python-Levenshtein
