# This requirements file should only include dependencies for documentations
# sphinx doc builder
sphinx==4.3.0

# Extensions
sphinx-inline-tabs==2021.8.17b10        # allow inline tab
sphinx-jinja==1.1.1                     # allow jinja2 template
sphinx-copybutton==0.4.0                # add copy to clipboard button for code block
rstobj==0.0.7                           # generate list table from data

# docfly                                # auto API manual, auto Table of Content
docfly==1.0.2                           # sphinx-doc automation

# Theme
furo==2021.8.31                         # modern doc theme
